body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
}

h1 {
  background-color: #1f1f1f;
  color: #e0e0e0;
  padding: 8px 0;
  text-align: center;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

#form-container {
  margin-right: 20px;
}

#products-container {
  flex: 1;
}

#products-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #1f1f1f;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 8px;
  padding: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.card p {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input,
button {
  margin: 5px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #333;
}

input {
  background-color: #333;
  color: #e0e0e0;
}

button {
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #333;
  cursor: pointer;
  width: 110px;
  padding: 6px 10px;
  font-size: 14px;
}

button:hover {
  background-color: #555;
}

.delete-btn {
  margin-left: 140px;
  padding: 5px 10px;
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff1a1a;
}

.custom-file-upload {
  display: inline-block;
  margin-left: 6px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #28a745;
  color: #e0e0e0;
  border: 1px solid #28a745;
  border-radius: 4px;
  font-size: 14px;
  margin: 5px;
}

.custom-file-upload:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.custom-file-upload:active {
  background-color: #1e7e34;
  border-color: #1c7430;
}

.pagination {
  margin-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.pagination-link {
  display: inline-block;
  padding: 8px 12px;
  background-color: #9b5de5;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}

.pagination-link:hover {
  background-color: #7e44bd;
}

.pagination-current {
  margin: 0 10px;
  color: #333;
}
